html {
  min-height: 100%;
  background-image: radial-gradient(
    /* circle, */ hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
}

.attribution {
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
}

.attribution a:link,
.attribution a:visited {
  color: skyblue;
}
