.ingame-container,
.ingame-container * {
  /* border: 1px solid grey; */
}

.ingame-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingame {
  width: 600px;
  height: 230px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
}

.ingame .button-container {
  width: 120px;
  height: 120px;
}

.col-move {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col-move .message {
  font-weight: 600;
  text-align: center;
}

.system-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.winlosemsg {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}
.playagainbtn {
  background-color: white;
  color: hsl(229, 64%, 46%);
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 9px;
  padding: 5px 1em;
  border-radius: 7px;
}

.playagainbtn:hover {
  cursor: pointer;
}

.show-move {
  position: relative;
}

.winner-grad {
  position: absolute;
  width: 300px;
  height: 300px;
  background: radial-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.15) 25%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.1) 75%,
    rgba(255, 255, 255, 0.05) 75%
  );
  /* background-color: white; */
  left: -73px;
  top: -73px;
  z-index: -1;
  border-radius: 100%;
}
