@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap');

html {
  font-family: 'Barlow Semi Condensed', sans-serif;
  min-height: 100%;
  background-image: radial-gradient(
    /* circle, */ hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  color: white; /* 기본 색상 */
}

.top {
  width: 500px;
  border: 0.7px solid #aaa;
  border-radius: 10px;
  padding: 1em;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top .title {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1;
  display: inline-block;
  transform: scale(1.3,1);
  margin-left: 15px;
}

.top .score {
  background-color: white;
  color: black;
  width: 80px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

.score-number {
  font-weight: 700;
  font-size: 2em;
}

.attribution {
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
}

.attribution a:link,
.attribution a:visited {
  color: skyblue;
}
